.copyright {
  &__link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: @font-size--s;
    line-height: @line-height--xs;
    text-decoration: none;

    &:active {
      opacity: @opacity--l;
    }
  }
}
